<footer class="site-footer">
    <p class="powered-by">
        {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}
  
        Powered by <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a> and the
        <a href="https://wowchemy.com/" target="_blank" rel="noopener">Wowchemy theme</a>.<br>
        Hébergé par <a href="https://mathrice.fr">Le GdS 2754 Mathrice</a>.
        {{ with site.GetPage "/terms.md" }}<br>{{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}{{ end }}.
    </p>
  </footer>